body {
  background-color: whitesmoke;
  font-family: "Montserrat", sans-serif;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

h1 {
  color: rgb(61, 53, 53);
  font-size: 3.25rem;
  font-weight: 900;
}

h3 {
  color: #17e;
  font-family: "Barriecito", cursive;
  font-size: 2.25rem;
}

#btn {
  padding: 20px;
  background-color: #a64ac9;
  color: whitesmoke;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
  box-shadow: 1.5px 1.5px #d3d3d3;
}

#btn:hover {
  transition-duration: 0.75s;
  transform: scale(1.03);
}

#btn:active {
  background-color: #151515;
  transition-duration: 0.75s;
  transform: scale(0.97);
}
