body {
  font-family: sans-serif;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

h1 {
  color: #515151;
  font-size: 3.25rem;
}

h3 {
  color: salmon;
  font-size: 2.25rem;
}

#btn {
  padding: 20px;
  background-color: #515151;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
  box-shadow: 1.5px 1.5px #d3d3d3;
}

#btn:hover {
  transition-duration: 0.75s;
  transform: scale(1.03);
}

#btn:active {
  background-color: #151515;
  transition-duration: 0.75s;
  transform: scale(0.97);
}
